body{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
span {
    color: gold;
    font-weight: bold;
}
.headline-text {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Fira Code', monospace;
}
.body-image{
    background-image: url('img/bandwidth-broadband-cable-wires-2881232.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.main-container-image {
    margin: 0%;
    padding: 0%;
    background-image: url('img/blur-chart-data-159888.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container {
    text-align: center;
    padding: 10%;
    padding-top: 300px;
    margin: 0%;
    min-height: 900px;
    background: rgba(0, 0,0,.6);
    color: white;
}
.main-container-text {
    opacity: 1;
    color: azure;
}
.main-container-text-p {
    padding-top: 100px;
}
.visual-container {
    padding: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.visual-container p {
    min-height: auto;
}
.container-center{
    text-align: center;
}
.container-center p {
    margin: 5%;
}
.container-header {
    margin-top: 2%;
    padding: 5%;
    text-align: center;
}
.container-item {
    margin: 5%;
}
.container-black {
    margin: 0px;
    background-color: rgb(25, 25, 25);
    color: white;

    /*rgba(240, 204, 0, 0.884);*/
}
.container-black-1 {
    margin: 0px;
    background-color: rgb(38, 50, 56);
    color: lavender;
}
.container-black-2 {
    margin: 0px;
    background-color: rgb(38, 33, 54);
    color:white;
}
.container-yellow {
    margin: 0px;
    background-color: rgba(255, 217, 0, 0.849);
    color: black;
}
.container-white-1 {
    margin: 0px;
    padding: 10%;

}

.footer-purple {
    margin: 0px;
    padding: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    color:gold;
    background-color: rgb(16, 14, 23);
}


/*LIST**/

.list-group-item-gold {
    color:  rgb(16, 14, 23);
    background-color: gold;
    border-color:rgb(46, 44, 31);
}
.list-group-item-black-gold {
    color:  gold;
    background-color: rgb(46, 44, 31);
    border-color:rgb(46, 44, 31);
}

/* TYPE WRITER ANNIMATION */

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


/* Tags Style */
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  
  .tag {
    background: rgba(33, 40, 44, 0.521);
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .tag::before {
    background: rgb(38, 50, 56);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(33, 40, 44, 0.521);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: rgb(38, 50, 56);
    border-bottom: 13px solid transparent;
    border-left: 10px solid rgba(33, 40, 44, 0.521);
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: crimson;
    color: white;
  }
  
  .tag:hover::after {
     border-left-color: crimson; 
  }